@charset "UTF-8";
/* reset */
body, ul, li {
	margin: 0;
	padding: 0;
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* ------------------------------------------------------------ diaryIndex --------------------------------------------------------------------- */
.title_diary {
    padding: 130px 0 0 10%;
    font-size: 2.3rem;
    font-weight: bold;
}
.diary_container {
    position: relative;
    background-image:
        linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)),
        url('/image/nikki backimage.webp');
    background-size: cover; /* 画像をコンテナに合わせてリサイズ */
    background-repeat: no-repeat; /* 画像を繰り返さない */
    background-position: center center; /* 画像を中央に配置 */
    background-color: #f5f5f5;
    border: 2px solid #2ca6e0;
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
}
.diary_container::before {
    content: "";
    background-image: url('/image/nikki backimage.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.diary-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 300px;
    height: 50px;
    margin: 0 0 10px 67%;
    padding: .9em 4em;
    border: none;
    border-radius: 5px;
    background-color: #dc143c;
    color: #fff;
    font-weight: 600;
    font-size: 1.2em;
}
.diary-button:hover {
    background-color: #cc042c;
}
.diary-button::before,
.diary-button::after {
    display: inline-block;
    position: absolute;
    width: 25px;
    height: 100%;
    background: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20100%20163.393%22%20fill%3D%22%23fff%22%3E%3Cpath%20d%3D%22M65.999%20132.255c.429%202.511%201.4%204.78%202.643%206.713%201.244%201.929%202.756%203.517%204.208%204.751.365.305.724.591%201.073.86.351.264.696.5%201.024.723.655.45%201.262.795%201.771%201.079.255.139.485.268.69.366.205.1.382.183.526.249.289.132.449.197.449.197s.143-.716.292-1.937c.075-.61.153-1.347.219-2.181.033-.417.064-.859.091-1.322l.037-.71.031-.744a65.77%2065.77%200%200%200-.099-6.699%2054.703%2054.703%200%200%200-.149-1.791%2053.02%2053.02%200%200%200-.206-1.81c-.04-.301-.083-.6-.129-.899-.046-.298-.096-.594-.146-.896a35.134%2035.134%200%200%200-.347-1.772%2035.547%2035.547%200%200%200-1.903-6.054%2032.948%2032.948%200%200%200-2.146-4.301%2018.983%2018.983%200%200%200-.506-.812%2016.995%2016.995%200%200%200-.47-.717l-.432-.608a13.29%2013.29%200%200%200-.549-.711l-.148-.187a8.849%208.849%200%200%200-.242-.287c-.135-.153-.213-.23-.213-.23s-.402.607-1.009%201.665a43.006%2043.006%200%200%200-2.202%204.405%2034.97%2034.97%200%200%200-1.112%202.961%2030.439%2030.439%200%200%200-.48%201.634%2026.556%2026.556%200%200%200-.669%203.488%2021.352%2021.352%200%200%200-.113%203.696c.041.622.113%201.25.219%201.882ZM57.056%20147.622c2.771-.655%205.457-.957%207.945-1.088a64.066%2064.066%200%200%201%206.757-.001%2042.4%2042.4%200%200%201%201.414.086c.45.031.879.058%201.28.095.801.078%201.509.141%202.089.215l.777.103c.228.029.422.056.579.08.315.047.484.081.484.081s-.263.68-.814%201.782a32.084%2032.084%200%200%201-2.587%204.289%2029.107%2029.107%200%200%201-2.065%202.556c-.392.431-.81.865-1.252%201.289a24.966%2024.966%200%200%201-2.975%202.429%2021.998%2021.998%200%200%201-2.669%201.57c-.319.16-.646.314-.977.456a22.56%2022.56%200%200%201-2.085.778c-2.896.907-5.992%201.178-8.968%201.001-2.975-.177-5.819-.808-8.257-1.579a50.076%2050.076%200%200%201-1.751-.598%2050.968%2050.968%200%200%201-2.291-.934c-.23-.103-.45-.207-.663-.307a51.507%2051.507%200%200%201-1.169-.571l-.501-.256-.437-.24a41.288%2041.288%200%200%201-.689-.392%2021.676%2021.676%200%200%201-.574-.344s.503-.533%201.449-1.344a40.297%2040.297%200%200%201%204.067-3.045%2045.183%2045.183%200%200%201%204.466-2.602%2045.43%2045.43%200%200%201%201.711-.832c.586-.27%201.188-.53%201.802-.778.306-.123.619-.246.935-.368a39.645%2039.645%200%200%201%202.924-.986%2033.483%2033.483%200%200%201%202.043-.544ZM51.697%20121.679c-.216%202.434.121%204.778.787%206.88.67%202.096%201.664%203.948%202.689%205.459.52.746%201.033%201.427%201.532%201.996.247.288.485.555.711.8.229.239.446.456.645.651.399.388.725.692.96.883.233.195.364.296.364.296s.317-.622.77-1.708a49.65%2049.65%200%200%200%20.765-1.952%2059.162%2059.162%200%200%200%201.721-5.475c.135-.518.27-1.054.398-1.599a54.35%2054.35%200%200%200%20.678-3.353%2044.157%2044.157%200%200%200%20.367-2.591c.031-.287.064-.581.09-.871.054-.581.093-1.159.115-1.731a32.852%2032.852%200%200%200-.297-6.127%2031.112%2031.112%200%200%200-1.267-5.468c-.049-.138-.094-.276-.138-.409-.045-.133-.09-.26-.135-.383-.089-.246-.182-.47-.265-.679a13.189%2013.189%200%200%200-.445-1.023c-.063-.13-.114-.243-.159-.333-.089-.179-.144-.272-.144-.272s-.519.465-1.337%201.301a41.25%2041.25%200%200%200-3.097%203.551c-1.159%201.504-2.381%203.324-3.358%205.371a24.158%2024.158%200%200%200-.692%201.586c-.209.539-.4%201.094-.57%201.662a18.073%2018.073%200%200%200-.691%203.541Z%22%2F%3E%3Cpath%20d%3D%22M39.624%20133.673c2.719.072%205.269.457%207.596.957a57.356%2057.356%200%200%201%206.228%201.704c.902.288%201.71.592%202.438.854.362.135.699.266%201.009.393.314.121.602.235.861.342.519.213.92.401%201.201.521.279.124.427.198.427.198s-.419.559-1.212%201.432a31.1%2031.1%200%200%201-3.489%203.282%2028.488%2028.488%200%200%201-2.56%201.831c-.473.3-.965.588-1.479.864a23.654%2023.654%200%200%201-3.355%201.486%2022.251%2022.251%200%200%201-2.852.78%2021.552%2021.552%200%200%201-3.121.373c-2.883.115-5.785-.395-8.467-1.28-2.68-.887-5.128-2.15-7.174-3.44a50.331%2050.331%200%200%201-1.455-.97c-.232-.158-.453-.32-.666-.48a43.728%2043.728%200%200%201-.623-.471c-.401-.31-.779-.604-1.12-.89a47.55%2047.55%200%200%201-1.672-1.481c-.214-.201-.391-.38-.536-.525-.289-.29-.441-.454-.441-.454s.594-.372%201.664-.895a35.267%2035.267%200%200%201%201.942-.876%2041.732%2041.732%200%200%201%202.557-.967%2044.42%2044.42%200%200%201%206.536-1.688%2040.314%2040.314%200%200%201%201.852-.283%2037.073%2037.073%200%200%201%203.894-.317%2031.509%2031.509%200%200%201%202.016-.002ZM40.55%20107.689c-.794%202.196-1.066%204.449-.972%206.554a20.714%2020.714%200%200%200%201.111%205.714c.068.209.144.407.219.603a27.447%2027.447%200%200%200%20.569%201.378l.118.249c.156.326.31.631.456.913.147.282.286.541.423.768a24.273%2024.273%200%200%200%20.848%201.333l.069.092s.113-.123.312-.356c.199-.233.485-.577.834-1.019a51.022%2051.022%200%200%200%202.646-3.706%2059.233%2059.233%200%200%200%201.538-2.503%2052.049%2052.049%200%200%200%201.521-2.809%2044.76%2044.76%200%200%200%201.391-3.018l.314-.776a34.03%2034.03%200%200%200%20.833-2.359%2030.907%2030.907%200%200%200%201.224-5.774%2029.29%2029.29%200%200%200%20.187-4.52%2023.812%2023.812%200%200%200-.275-3.018%2010.857%2010.857%200%200%200-.157-.825c-.023-.094-.037-.168-.049-.217l-.018-.075s-.593.304-1.552.879a38.596%2038.596%200%200%200-3.717%202.532%2032.765%2032.765%200%200%200-2.221%201.874%2026.96%2026.96%200%200%200-2.188%202.281c-1.409%201.66-2.654%203.598-3.462%205.805ZM26.447%20115.774c2.491.729%204.74%201.717%206.761%202.754a53.537%2053.537%200%200%201%205.306%203.129c.184.127.371.248.55.368a38.73%2038.73%200%200%201%201.246.875l.23.162c.301.214.579.42.834.614l.7.539a24.818%2024.818%200%200%201%201.313%201.079s-.132.102-.384.279c-.252.177-.622.43-1.098.728a29.88%2029.88%200%200%201-4.046%202.128c-.857.369-1.808.732-2.821%201.036a24.166%2024.166%200%200%201-3.264.748%2021.448%2021.448%200%200%201-4.111.235%2020.602%2020.602%200%200%201-3.437-.457c-2.678-.602-5.207-1.785-7.45-3.248-2.239-1.465-4.171-3.217-5.736-4.892a36.03%2036.03%200%200%201-3.513-4.468%2038.276%2038.276%200%200%201-.884-1.406c-.1-.166-.17-.298-.22-.387l-.073-.135s.639-.199%201.752-.423a37.26%2037.26%200%200%201%204.605-.618c.949-.07%201.97-.111%203.048-.11a40.122%2040.122%200%200%201%203.389.135c2.34.194%204.827.6%207.302%201.337ZM33.395%2091.208a16.525%2016.525%200%200%200-1.07%201.763%2017.504%2017.504%200%200%200-.508%201.088c-.427.979-.72%201.966-.953%202.951-.109.49-.192.976-.263%201.459a18.61%2018.61%200%200%200-.092.719%2024.667%2024.667%200%200%200-.105%202.071c.004.442.019.873.043%201.289.013.208.023.413.044.612a29.653%2029.653%200%200%200%20.218%201.668c.119.68.257%201.275.379%201.768.059.248.128.464.185.654a20.102%2020.102%200%200%200%20.295.888s.541-.336%201.406-.969a47.64%2047.64%200%200%200%203.37-2.724c2.651-2.333%205.771-5.572%208.05-9.141.287-.448.55-.889.793-1.323l.356-.649a28.66%2028.66%200%200%200%201.411-3.075c.155-.39.299-.772.424-1.141.064-.185.12-.366.179-.546.061-.181.117-.358.17-.533.108-.35.195-.686.281-1.012.09-.327.166-.642.232-.942l.091-.441a17.87%2017.87%200%200%200%20.22-1.198c.016-.121.036-.24.054-.354a14.077%2014.077%200%200%200%20.11-.91l.019-.249.02-.221c.011-.137.017-.254.021-.349.008-.19.005-.292.005-.292s-.62.136-1.642.433a37.315%2037.315%200%200%200-4.052%201.437%2030.66%2030.66%200%200%200-2.493%201.189c-.428.229-.86.474-1.293.736a22.82%2022.82%200%200%200-1.288.838%2021.11%2021.11%200%200%200-2.467%202.012c-.387.374-.763.768-1.123%201.184-.359.415-.712.855-1.025%201.311ZM18.408%2095.139c.528.321%201.036.653%201.524.995l.726.517c.239.174.474.349.703.527a39.2%2039.2%200%200%201%202.569%202.17c.401.364.79.727%201.157%201.09.185.181.362.363.539.542.18.178.355.356.526.533.343.353.662.705.974%201.046.315.34.612.673.891.998l.799.939c.252.301.486.591.701.867.441.548.818%201.036%201.116%201.449.147.207.288.39.403.552a20.163%2020.163%200%200%201%20.529.772s-.589.238-1.617.544a28.941%2028.941%200%200%201-4.265.923%2025.66%2025.66%200%200%201-2.848.231%2023.98%2023.98%200%200%201-1.559-.012%2020.968%2020.968%200%200%201-5.026-.811%2019.944%2019.944%200%200%201-1.731-.605%2017.238%2017.238%200%200%201-1.737-.805%2021.041%2021.041%200%200%201-2.08-1.274%2024.492%2024.492%200%200%201-1.158-.88c-1.015-.811-1.923-1.717-2.779-2.657a30.837%2030.837%200%200%201-1.753-2.183%2041.57%2041.57%200%200%201-.516-.744%2033.394%2033.394%200%200%201-.95-1.484c-.29-.493-.562-.981-.818-1.458-.127-.239-.252-.474-.368-.707a42.898%2042.898%200%200%201-.915-1.996%2015.756%2015.756%200%200%201-.249-.61%2041.824%2041.824%200%200%201-.592-1.609l-.152-.45-.123-.402a36.015%2036.015%200%200%201-.186-.642c-.098-.352-.144-.545-.144-.545s.637-.028%201.719.035c1.082.062%202.608.215%204.381.547%203.581.658%208.106%202.033%2012.309%204.599ZM30.769%2073.316c-.414.345-.789.706-1.147%201.081s-.696.763-1.012%201.162a18.269%2018.269%200%200%200-1.254%201.847%2021.577%2021.577%200%200%200-.963%201.909c-.181.425-.341.849-.489%201.269-.074.21-.144.419-.211.626-.067.208-.121.412-.178.616-.11.407-.207.806-.292%201.194l-.062.289-.051.283a28.815%2028.815%200%200%200-.229%201.585c-.064.653-.09%201.233-.104%201.716-.003.121-.006.235-.006.343l.005.303c.005.189.011.351.018.482.013.263.026.406.026.406s.581-.168%201.536-.524a44.501%2044.501%200%200%200%203.784-1.628%2047.1%2047.1%200%200%200%204.865-2.705%2037.08%2037.08%200%200%200%202.487-1.718%2029.067%2029.067%200%200%200%202.346-1.943%2026.874%2026.874%200%200%200%203.96-4.553l.324-.48c.212-.317.407-.628.587-.932l.132-.226.133-.223a20.694%2020.694%200%200%200%20.686-1.273%2018.183%2018.183%200%200%200%20.542-1.133l.074-.174.075-.168c.196-.442.344-.832.455-1.157a8.984%208.984%200%200%200%20.332-1.034s-.603-.023-1.614.008a35.498%2035.498%200%200%200-4.071.361c-.823.122-1.688.285-2.585.504-.897.218-1.823.492-2.756.837a20.064%2020.064%200%200%200-3.427%201.66%2016.985%2016.985%200%200%200-1.914%201.39ZM16.037%2073.239a28.42%2028.42%200%200%201%202.202%202.587%2028.23%2028.23%200%200%201%201.398%201.969%2032.952%2032.952%200%200%201%201.205%201.939%2033.57%2033.57%200%200%201%201.03%201.86l.31.594a33.76%2033.76%200%200%201%20.685%201.414l.128.268a30.788%2030.788%200%200%201%20.659%201.494c.265.614.484%201.158.652%201.612l.118.323.108.286a15.891%2015.891%200%200%201%20.287.843s-.601.066-1.621.081-2.46-.021-4.143-.251a25.19%2025.19%200%200%201-2.664-.516%2022.001%2022.001%200%200%201-2.883-.935%2020.092%2020.092%200%200%201-2.934-1.481%2018.66%2018.66%200%200%201-2.822-2.148c-1.788-1.68-3.233-3.724-4.295-5.845a32.605%2032.605%200%200%201-.39-.798c-.062-.133-.125-.267-.184-.4l-.17-.401a33.383%2033.383%200%200%201-.619-1.598l-.139-.396c-.045-.132-.085-.263-.127-.394a35.066%2035.066%200%200%201-.638-2.294%2041.923%2041.923%200%200%201-.419-2.108l-.055-.327-.045-.319a40.748%2040.748%200%200%201-.242-2.21%2031.743%2031.743%200%200%201-.062-1.464c-.006-.343-.003-.529-.003-.529s.593.126%201.574.441c.981.314%202.349.817%203.902%201.544a39.31%2039.31%200%200%201%202.458%201.258c.853.476%201.728%201.01%202.601%201.604a32.683%2032.683%200%200%201%202.624%201.961c.215.179.428.361.639.548a26.659%2026.659%200%200%201%201.874%201.786ZM32.853%2055.254a15.63%2015.63%200%200%200-1.324.709%2015.708%2015.708%200%200%200-3.29%202.697c-.078.083-.157.166-.232.251l-.219.254a22.073%2022.073%200%200%200-.822%201.033c-.13.173-.256.347-.372.522a23.273%2023.273%200%200%200-.959%201.556c-.092.171-.18.34-.265.507-.34.669-.633%201.306-.851%201.888a27.734%2027.734%200%200%200-.43%201.198c-.037.12-.071.235-.103.345-.253.878-.353%201.413-.353%201.413s.574-.006%201.538-.09a41.501%2041.501%200%200%200%203.877-.532%2045.42%2045.42%200%200%200%205.129-1.26%2041.94%2041.94%200%200%200%201.351-.451c.455-.16.908-.329%201.357-.509.449-.18.893-.371%201.329-.573.441-.201.881-.413%201.307-.637a25.9%2025.9%200%200%200%201.224-.689%2021.545%2021.545%200%200%200%201.651-1.079%2021.51%2021.51%200%200%200%201.443-1.101%2025.521%2025.521%200%200%200%202.926-2.807c.192-.215.368-.424.53-.626a13.858%2013.858%200%200%200%20.852-1.091c.118-.161.228-.31.321-.446.189-.273.326-.494.416-.648l.139-.237s-.548-.167-1.486-.383a33.095%2033.095%200%200%200-3.815-.648%2028.471%2028.471%200%200%200-2.499-.164%2023.02%2023.02%200%200%200-2.725.104c-.468.046-.941.108-1.417.188-.478.08-.945.182-1.421.303-.945.244-1.903.568-2.81%201.004Z%22%2F%3E%3Cpath%20d%3D%22M19.379%2051.564c.267.485.513.97.738%201.454.232.486.45.971.646%201.453.386.962.739%201.919%201.018%202.844l.208.69a29.52%2029.52%200%200%201%20.366%201.346l.159.652c.106.43.199.85.281%201.257l.229%201.182c.141.761.235%201.461.328%202.09a29.098%2029.098%200%200%201%20.147%201.276l.039.361c.094.916.098%201.457.098%201.457s-.565-.092-1.5-.336a26.539%2026.539%200%200%201-3.717-1.274%2025.18%2025.18%200%200%201-1.136-.521%2021.46%2021.46%200%200%201-3.571-2.19%2018.811%2018.811%200%200%201-1.182-.971%2018.623%2018.623%200%200%201-2.205-2.357%2016.923%2016.923%200%200%201-.973-1.401%2017.294%2017.294%200%200%201-.849-1.52%2020.761%2020.761%200%200%201-.985-2.394%2025.547%2025.547%200%200%201-.667-2.461%2026.955%2026.955%200%200%201-.531-6.273c.014-.477.037-.937.066-1.378a39.926%2039.926%200%200%201%20.272-2.37c.054-.345.113-.663.168-.951.11-.577.212-1.035.287-1.348a7.026%207.026%200%200%201%20.127-.481s.513.259%201.333.783a31.97%2031.97%200%200%201%203.211%202.358%2034.448%2034.448%200%200%201%201.943%201.744%2034.11%2034.11%200%200%201%202.001%202.1%2033.26%2033.26%200%200%201%201.923%202.431%2028.939%2028.939%200%200%201%201.731%202.749ZM39.608%2038.282c-.953.168-1.84.442-2.691.777-.429.166-.832.356-1.227.557-.394.202-.778.416-1.148.641a17.839%2017.839%200%200%200-3.652%203.042c-.24.261-.467.519-.679.77-.211.251-.397.5-.575.735-.352.473-.654.901-.877%201.27a15.93%2015.93%200%200%200-.684%201.196s.524.142%201.423.312c.899.171%202.174.369%203.667.505.747.068%201.546.12%202.384.147.842.03%201.719.034%202.61.004.446-.015.895-.039%201.345-.072a27.329%2027.329%200%200%200%204.082-.577c3.574-.802%206.221-2.255%208.078-3.483.233-.153.45-.305.653-.453l.571-.426c.358-.27.653-.521.893-.734.492-.416.741-.692.741-.692s-.46-.284-1.265-.705a31.515%2031.515%200%200%200-3.343-1.509c-2.769-1.055-6.518-1.997-10.306-1.305Z%22%2F%3E%3Cpath%20d%3D%22M28.221%2031.59c.24%201.007.43%202.014.547%202.986.056.485.111.97.148%201.444.038.475.061.94.074%201.397.074%201.837-.024%203.523-.152%204.98-.033.364-.071.711-.113%201.042-.041.331-.075.648-.117.944-.08.593-.178%201.107-.247%201.538-.15.857-.284%201.351-.284%201.351s-.491-.229-1.279-.69a25.32%2025.32%200%200%201-3.057-2.107%2022.927%2022.927%200%200%201-1.818-1.626%2020.35%2020.35%200%200%201-1.781-2.034%2019.325%2019.325%200%200%201-.833-1.181%2017.455%2017.455%200%200%201-.751-1.288%2015.914%2015.914%200%200%201-1.202-2.917%2017.734%2017.734%200%200%201-.397-1.589%2018.614%2018.614%200%200%201-.235-1.604%2021.71%2021.71%200%200%201-.092-1.209%2025.366%2025.366%200%200%201%20.017-1.986c.022-.527.076-1.041.138-1.549.063-.508.137-1.009.225-1.497.093-.485.197-.958.308-1.419.111-.46.225-.908.357-1.332a37.915%2037.915%200%200%201%20.594-1.794c.068-.184.139-.361.207-.534.276-.69.539-1.295.772-1.791.479-.984.811-1.547.811-1.547s.407.36%201.034%201.037c.627.676%201.474%201.67%202.366%202.918%201.793%202.502%203.768%206.017%204.76%2010.058ZM50.611%2023.555a12.241%2012.241%200%200%200-1.341-.037c-.44.012-.875.044-1.304.093-.432.047-.846.122-1.255.209-.409.087-.811.189-1.204.303a17.528%2017.528%200%200%200-1.677.607l-.266.113-.257.119a21.488%2021.488%200%200%200-1.448.755%2021.785%2021.785%200%200%200-1.614%201.058%2022.985%2022.985%200%200%200-1.459%201.19c-.597.554-.918.916-.918.916s.439.262%201.211.644c.772.383%201.877.886%203.196%201.385.658.248%201.376.5%202.133.738a35.069%2035.069%200%200%200%202.986.793%2026.979%2026.979%200%200%200%201.906.355c.428.064.858.117%201.288.158a20.704%2020.704%200%200%200%202.57.106c.415-.005.818-.024%201.209-.054a22.648%2022.648%200%200%200%202.214-.28c.342-.066.683-.129%201.008-.201.325-.072.636-.151.934-.235.301-.08.593-.161.869-.248.277-.085.537-.178.789-.266.507-.172.955-.354%201.348-.526.399-.165.737-.325%201.011-.465.272-.143.491-.253.636-.337.145-.082.221-.131.221-.131s-.353-.368-.987-.944a29.755%2029.755%200%200%200-2.696-2.171c-1.138-.807-2.503-1.644-4.047-2.326-1.53-.666-3.25-1.185-5.056-1.321Z%22%2F%3E%3Cpath%20d%3D%22M41.876%2014.689c-.005.244-.014.486-.028.726-.013.24-.026.482-.045.72a22.73%2022.73%200%200%201-.152%201.398c-.067.453-.135.908-.217%201.347-.082.44-.174.869-.275%201.286a27.61%2027.61%200%200%201-.477%201.817l-.088.286-.085.285a26.204%2026.204%200%200%201-.542%201.598l-.18.495c-.12.323-.241.629-.361.919l-.347.825c-.222.519-.432.966-.615%201.332-.35.742-.595%201.158-.595%201.158s-.387-.333-.986-.952a24.127%2024.127%200%200%201-2.244-2.69c-1.658-2.318-3.42-5.682-3.547-9.787a15.975%2015.975%200%200%201%20.026-1.533c.037-.505.096-1.007.175-1.506.151-1.002.404-1.964.7-2.9.146-.47.317-.92.494-1.363.178-.443.365-.875.559-1.295.197-.416.405-.816.614-1.204.21-.387.419-.763.635-1.116a32%2032%200%200%201%201.271-1.907c.412-.555.794-1.034%201.121-1.426.324-.395.603-.689.793-.893.191-.203.3-.309.3-.309s.286.425.696%201.19c.411.765.946%201.868%201.464%203.216a29.696%2029.696%200%200%201%201.386%204.688c.37%201.752.585%203.634.553%205.595ZM61.318%2013.702c-.356.235-.719.449-1.088.646-.186.096-.367.198-.551.291a15.407%2015.407%200%200%201-1.118.514c-.188.078-.372.159-.559.233-.373.149-.748.283-1.124.405-.372.126-.741.245-1.11.35-.367.107-.738.196-1.093.29a24.12%2024.12%200%200%201-1.571.346c-.168.034-.333.068-.496.098a27.47%2027.47%200%200%201-.948.163c-.305.048-.601.086-.874.127-.55.079-1.043.133-1.456.171l-.554.046c-.161.014-.299.024-.412.031-.226.015-.349.018-.349.018s.012-.123.045-.349a12.476%2012.476%200%200%201%20.177-.962c.09-.407.211-.898.374-1.452.08-.279.178-.565.285-.867a24.422%2024.422%200%200%201%20.567-1.439%2022.867%2022.867%200%200%201%20.769-1.539c.19-.355.406-.7.634-1.053.229-.351.471-.708.733-1.058.265-.346.547-.69.845-1.031.15-.169.301-.341.461-.506a18.873%2018.873%200%200%201%201.011-.961c.177-.155.356-.313.546-.457.376-.294.769-.577%201.177-.845.203-.136.412-.26.623-.38a17.762%2017.762%200%200%201%201.271-.659c.213-.1.432-.188.647-.275.433-.173.865-.327%201.295-.465a19.917%2019.917%200%200%201%201.926-.475c.21-.041.422-.072.629-.103.416-.061.824-.108%201.221-.144l.296-.025.294-.015a23.148%2023.148%200%200%201%201.666-.016c1.407.056%202.573.234%203.394.418a13.88%2013.88%200%200%201%201.284.331s-.215.451-.626%201.166a39.77%2039.77%200%200%201-1.77%202.794%2027.062%2027.062%200%200%201-.918%201.268l-.167.214-.168.22c-.227.293-.465.586-.713.876-.124.146-.252.288-.381.434a19.093%2019.093%200%200%201-1.227%201.289c-.285.285-.583.562-.894.828-.155.134-.315.262-.475.394a14.313%2014.313%200%200%201-.997.757c-.174.119-.351.235-.528.355Z%22%2F%3E%3Cpath%20d%3D%22M49.291%2016.278a77.108%2077.108%200%200%200-14.805%2017.691%2076.284%2076.284%200%200%200-8.854%2021.3%2077.135%2077.135%200%200%200-2.096%2022.973%2076.252%2076.252%200%200%200%204.805%2022.561%2076.633%2076.633%200%200%200%2011.33%2020.094%2077.072%2077.072%200%200%200%2016.791%2015.819%2076.37%2076.37%200%200%200%2020.729%2010.12A76.755%2076.755%200%200%200%20100%20150.29%22%20style%3D%22fill%3Anone%3Bstroke%3A%23fff%3Bstroke-miterlimit%3A10%3Bstroke-width%3A4.553px%22%2F%3E%3C%2Fsvg%3E') no-repeat center / 1.5em;
    filter: opacity(0.7);
    content: '';
}
.diary-button::before {
    left: 1.5em;
}
.diary-button::after {
    right: 1.5em;
    transform: scaleX(-1);
}
.diary-button i {
    margin-right: 5px;
}

.diary_title {
    color: #000000;
    font-size: 25px;
    font-weight: bold;
    flex: 1 1 100%;
    position: relative;
}
.diary_area, .diary_date {
    font-size: 1.2rem;
    width: 100%;
}

/* ------------------------------------------------------------ diaryDetail -------------------------------------------------------------------- */
.diary_area2, .diary_date2 {
    font-size: 1.5rem;
    width: 100%;
}
.diary_container2 {
    background-image:
        linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
        url('/image/nikki backimage2.jpg');
    background-size: cover; /* 画像をコンテナに合わせてリサイズ */
    background-repeat: no-repeat; /* 画像を繰り返さない */
    background-position: center center; /* 画像を中央に配置 */
    border: 2px solid #2ca6e0;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
}
.plan_title {
    font-size: 25px;
    font-weight: bold;
    flex: 1 1 100%;
    position: relative;
}
.plan_body {
    flex: 1 1 100%;
    margin-top: 15px;
}
.plan_maker {
    font-weight: bold;
    flex: 1 1 100%;
    text-align: right;
}
.day_section {
    margin: 20px 0;
    border-top: 2px solid #2ca6e0;
    padding-top: 20px;
}
.diary_summary {
    font-size: 1.5rem;
    font-weight: bold;
    color: #DC143C;
    margin-bottom: 10px;
}
.diary_body,  .diary_body p{
    font-weight: bold;
    font-size: 1.2rem;
    margin: 0 20px;
}
.diary_image {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
}
.diary_image img {
    width: 45%;
	height: 50vh;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.comments-section {
    margin: 20px auto;
    width: 80%;
}
.form-control {
    width: 60vw;
    font-size: x-large;
    resize: vertical;
}
.submit-comment {
    color: #ffffff;
    background-color: #2ca6e0;
    margin: 0 auto 5px auto;
}
.comments-section h3 {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 2vw 0 10px 11%;
}
.comment {
    /* margin-bottom: 10px; */
    width: 78%;
    margin: 20px auto 0 auto;
    padding: 5px;
    border: 1px solid #000000;
}
.comment p span {
    color: rgb(136, 134, 134);
}
.nocomment {
    margin-left: 11%;
}
#delete_comment_form {
    margin: 0 auto;
    border-radius: 5px;
    text-align: center;
}

/* ------------------------------------------------------------ diaryMake ---------------------------------------------------------------------- */
.title {
    display: inline-block;
    position: relative;
    margin: 130px 0 20px 10%;
    padding: .5em 1.4em .5em 1em;
    background-color: #bcd9f1;
    color: #333333;
    font-size: 2rem;
    font-weight: bold;
}
.title::before {
    position: absolute;
    bottom: -1px;
    right: 9px;
    z-index: -1;
    transform: rotate(5deg);
    width: 70%;
    height: 50%;
    background-color: #d0d0d0;
    content: "";
    filter: blur(4px);
}

#diaryMake_form {
    width: 78%;
    margin: 0 auto;
    border-radius: 15px;
    border: 1px solid #000000;
    background-color: #f5f5f5;
    text-align: center;
}
label {
    display: block;
    text-align: left;
    width: 80%;
    margin: 10px auto;
    font-size: 1.3rem;
    font-weight: bold;
}
#form label {
    width: 80%;
    margin: 10px auto;
    display: block;
}
.error_text {
    color: red;
    text-align: left;
    margin: 0 10%;
    width: 80%;
}

/* 日記名 */
#title {
    font-size: x-large;
    width: 80%;
    margin: 10px auto;
    display: block;
}

/* エリア、滞在日数 */
#area, #date {
    font-size: 100%;
    width: 48%;
    margin: 10px 1%;
    display: inline-block;
}
label[for="area"], label[for="date"] {
    /* width: 48%; */
    /* margin: 10px 1%;
    display: inline-block; */
    text-align: left;
}

/* 日記本文 */
textarea {
    width: 80%;
    margin: 10px auto;
    display: block;
    resize: vertical;
}

/* ボタン */
#btn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 20%;
    margin: 0 auto 10px auto;
    padding: .2em 2em;
    background-color: #2ca6e0;
    border: 1px solid #8DD3FA;
    border-radius: 5px;
    color: #fff;
    font-size: 1em;
    transition: box-shadow .3s ease;
}
#btn:hover {
    box-shadow: inset #fff 0 0 0 2em;
    color: #2ca6e0;
}
#btn::after {
    transform: rotate(45deg);
    width: 5px;
    height: 5px;
    margin-left: 10px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    content: '';
}
#btn:hover::after {
    border-color: #2ca6e0;
}

#btn_back {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 20%;
    margin: 10px auto;
    padding: .2em 2em;
    border: 1px solid red;
    border-radius: 5px;
    background-color: #DC143C;
    color: #fff;
    font-size: 1em;
    transition: box-shadow .3s ease;
}
#btn_back:hover {
    box-shadow: inset #fff 0 0 0 2em;
    color: #DC143C;
}
#btn_back::after {
    transform: rotate(45deg);
    width: 5px;
    height: 5px;
    margin-left: 10px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    content: '';
}
#btn_back:hover::after {
    border-color: #DC143C;
}

#area2 {
    margin: 10px 10%;
}
#image1, #image2 {
    margin: 10px 10%;
    display: block;
}
#preview1, #preview2 {
    margin: 30px auto;
}

/* ------------------------------------------------------------ diaryConfirm ------------------------------------------------------------------- */
#comment-form {
    width: 78%;
    margin: 0 auto;
    border-radius: 15px;
    border: 1px solid #000000;
    background-color: #f5f5f5;
    text-align: center;
}
.diary_main_conf label {
    padding-top: 15px;
    border-bottom: 2px solid #5dcf53;
    font-size: x-large;
    font-weight: bold;
    text-align: left;
}
.confirm_p {
    font-size: larger;
    margin: 0 12%;
}
.diary-preview {
    display: flex;
    justify-content: center;
    /* gap: 50px; */
    margin: 50px 0;
}

/* ------------------------------------------------------------ diaryComplete ------------------------------------------------------------------- */
.complete-box p {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    margin: 100px 0;
    line-height: 1.6;
}

.to_topPage {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 250px;
    margin:0 auto;
    padding: .9em 2em;
    border: 2px solid #fff;
    border-radius: 5px;
    background-color: #2ea8e0;
    color: #fff;
    font-size: 1.2em;
}
.to_topPage:hover {
    animation: anima-button1 1s;
}
@keyframes anima-button1 {
    0% {
        box-shadow: 0 0 0 0 rgb(46 168 224 / 50%);
    }
    100% {
        box-shadow: 0 0 0 1.2em rgb(0 0 0 / 0%);
    }
}

.to_diaryPage {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 250px;
    margin:15px auto;
    padding: .9em 2em;
    border: 2px solid #fff;
    border-radius: 5px;
    background-color: #7fff00;
    color: #000;
    font-size: 1.2em;
}
.to_diaryPage:hover {
    animation: anima-button2 1s;
}
@keyframes anima-button2 {
    0% {
        box-shadow: 0 0 0 0 rgb(127 255 0 / 50%);
    }
    100% {
        box-shadow: 0 0 0 1.2em rgb(0 0 0 / 0%);
    }
}

/* ------------------------------------------------------------ レスポンシブ -------------------------------------------------------------------- */
@media screen and (max-width: 768px) {
    .title_diary {
        padding-top: 110px;
    }
    .diary-button {
        margin: 0 0 0 50vw;
    }
    .diary_container, .diary_container2 {
        padding: 10px;
    }
    .diary_title {
        text-align: center;
    }
    .diary_area, .diary_date, .diary_area2, .diary_date2 {
        text-align: center;
    }
    .day_section {
        margin: 10px 0;
    }
    .diary_body, .diary_body p {
        margin: 0 10px;
    }
    .diary_image {
        flex-direction: column;
    }
    .diary_image img {
        width: 100%;
        margin: 10px 0;
    }
    #area2, #image1, #image2 {
        margin: 10px 5%;
    }

    .diary-preview {
        flex-direction: column;
        gap: 0;
        margin: 0;
    }

    #btn {
        width: 55%;
    }
    #btn_back {
        width: 55%;
    }
}

@media screen and (max-width: 480px) {
    .title_diary {
        padding-top: 130px;
    }
    .diary-button {
        margin: 0 auto;
    }
}