body {
    background-image: 
        linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)),
        url("/image/login.jpg");
    background-size: cover;
    background-position: center center;
}
form {
    width: 60%;
    background-color: #ffffff;
    border-radius: 15px;
    margin: 0 auto;
    padding: 15px; /* フォームの内側の余白を追加 */
    box-sizing: border-box; /* paddingを含むサイズにする */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.logo img {
    width: 150px;
    /* height: 130px; */
    padding: 50px 0 0 10%;
}
.logo_text {
    padding: 15vh 20% 0 0;
    font-size: 3.8rem;
    font-weight: bold;
    font-family: 'Irish Grover', cursive; 
}
h3 {
    width: 80%;
    margin-bottom: 0;
}
.login_input, .login {
    width: 80%;
    margin: 20px 0;
    text-align: center;
}

.login_input {
    padding: 8px;
    border-radius: 5px;
    margin-top: 0;
    background-color: #f5f5f5;
    text-align: left;
    font-size: 100%;
}
.login {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    min-width: 250px;
    padding: 0.9em 2em;
    border-radius: 25px;
    background-color: #dc143c;
    color: #fff;
    border: 2px solid #fff;
    font-weight: 600;
    font-size: 1.1em;
}
.login:hover {
    background-color: #fff;
    color: #DC143C;
    border: 2px solid #dc143c;
}
.login span {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -1.75em;
    left: -2em;
    padding: 1em 1.5em;
    border: 2px solid #dc143c;
    border-radius: 50%;
    background-color: #fff;
    color: #dc143c;
    font-size: .9em;
}
.login span::after {
    position: absolute;
    bottom: .3em;
    right: 0;
    width: 1.5em;
    height: 1.5em;
    background-color: #fff;
    clip-path: polygon(40% 0, 100% 100%, 0% 90%);
    content: '';
}
.login i {
    padding-left: 10px;
}

.to-register {
    color: blue;
    align-self: flex-end; /* formの右端に配置 */
    margin-right: 5%;
}

/* register~ */
/* .register_title {
    font-size: 32px;
    font-weight: bold;
} */
/* h2 {
    margin-bottom: 20px;
} */
.radio-group {
    display: flex;
    justify-content: flex-start;
    width: 80%;
    gap: 10px;
}
.buttons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
.register, .back_to_login {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #DC143C;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s;
    cursor: pointer;
}
.back_to_login {
    background-color: #007BFF;
}
.register:hover, .back_to_login:hover {
    background-color: darkgray;
}
.error_text {
    color: red;
}
.go_to_register_ad {
    font-weight: bold;
    margin: 10px 0 0 60vw;
}

/* register_comp */
.regi_comp {
    width: 60%;
    height: 60%;
    background-color: #ffffff;
    border-radius: 15px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1 {
    margin: 50px 0;
    text-align: center;
    line-height: 2.5; /* 文字列の間隔を大きくする */
}
h2 {
    font-size: 2rem;
    letter-spacing: 5px; /* 文字間隔を広くする */
    text-align: center;
    margin-top: 20px;
}
.go_to_login {
    width: 40%;
    height: 50px;
    background-color: #DC143C;
    color: #ffffff;
    text-decoration: none;
    border: none;
    font-size: 1.5rem;
    display: block;
    text-align: center;
    line-height: 50px;
    margin: 0 auto;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.go_to_login:hover {
    background-color: #b0102a;
}

@media screen and (max-width: 480px) {
    html {
        height: 100%;
    }
    #login_body {
        transform: translateY(25%);
        background-image: 
        linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)),
        url("/image/login_phone.jpg");
    }
    #register_body {
        transform: translateY(15%);
        background-image: 
        linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)),
        url("/image/login_phone.jpg");
    }
    form {
        width: 90%;
        /* margin-top: 100px; */
    }
    .logo img {
        padding: 20px 0 0 5%;
    }
    .logo_text {
        font-size: 2.5rem;
        padding: 5vh 0 0 20px;
    }
    h3 {
        width: 100%;
    }
    .login_input, .login {
        width: 100%;
    }
    .login {
        min-width: 150px;
        padding: 0.7em 1.5em;
    }
    .login span {
        top: -1.25em;
        left: -1.5em;
        padding: 0.8em 1.2em;
    }
    .to-register {
        margin-right: 3%;
    }

    .register_title {
        margin: 0;
    }
    .go_to_register_ad {
        margin: 10px 0 0 30vw;
    }
}