@charset "UTF-8";
/* reset */
body, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
img { border-style: none; display: block; }
* {
    box-sizing: border-box;
}

.top-img {
    /* position: relative; */
    position: absolute;
    width: 100%;
}
.top-img img {
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    opacity: 0.7;
}
.top-text {
    color: #f5f5f5;
    position: absolute;
    font-weight: bold;
    font-size: 3.6rem;
    top: 45%;
    right: 18%;
    line-height: 65px;
}
.top-text span {
    margin-left: 50px;
    color: #26A9F2;
}
.image-name {
    position: absolute;
    font-size: 1.3rem;
    font-weight: bold;
    left: 20%;
    bottom: 7%;
    color: #ffffff;
    padding: 5px;
    border-radius: 5px;
}

.intro-text {
    width: 90%;
    font-size: 20px;
    margin: 60px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    color: #333; /* ややダークなテキストカラー */
    text-align: justify;
    line-height: 1.6;
}

/* Open Weather */

#weather-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    background-color: #9dd4f2;
    border-radius: 8px;
}
#weather-info h4 {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 10px;
}
#weather-info p {
    text-align: center;
    margin: 5px 0;
    font-size: 24px;
}

.weather-city {
    text-align: center;
    margin: 0 10px;
}

.weather-city img {
    width: 80px;
    height: 80px;
    margin: 3px auto;
}

.weather-city p {
    margin: 0;
    font-size: 14px;
}

/* 最近の投稿と人気の投稿 */
#plan_indexList {
    display: flex;
    width: 90%;
    margin: 0 auto 50px auto;
    border-radius: 10px;
    background-image:
        linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)),
        url("/image/backImage2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.list_container {
    background-color: rgba(255, 255, 255, 0.4);
    width: 100%;
}
.listText_latest, .listText_popular {
    margin-left: 5%;
    font-size: x-large;
    margin-bottom: 10px;
}
.latestPlans {
    height: 150px;
    width: 90%;
    margin-left: 10%;
    overflow: scroll;
    overflow-x: hidden;
    font-size: larger;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: scroll;
}
.plan_item {
    border-bottom: 1px solid #000080;
    padding: 10px;
    margin-bottom: 10px;
}
.popularPlans {
    height: 150px;
    width: 90%;
    margin-left: 5%;
    overflow: scroll;
    overflow-x: hidden;
    font-size: larger;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: scroll;
}
.plan_area {
    font-weight: bold;
    color: #333;
}
.plan_title {
    margin-top: 5px;
    color: #ff0000;
}
.plan_maker {
    text-align: right;
}

/* 新しいスタイルの追加 */
.section-container {
    width: 86%;
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
    transform: translateY(50px);
    /* opacity: 0;
    transition: transform 0.5s, opacity 0.5s; */
}

.reverse-order {
    display: flex;
    flex-direction: row-reverse;
}
.reverse-content {
    flex: 2;
    padding: 20px;
}
.reverse-img {
    flex: 1;
    max-width: 400px;
    position: relative;
}
.reverse-img img {
    width: 100%;
    transform: translateX(-40%);
}

.section-img {
    flex: 1;
    max-width: 400px;
}
.section-img img {
    width: 50vw;
    height: 60vh;
}

.section-content {
    flex: 2;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.section-content h3 {
    font-size: 24px;
    margin-bottom: 15px;
}

.section-content p {
    font-size: 18px;
    margin-bottom: 15px;
}

.feature-button {
    background-color: #26A9F2;
    padding: 10px 20px;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.feature-button:hover {
    background-color: #1b7cb3;
}

/* Luxy */
.outer-block img {
    border: 0;
    /* margin: 0; */
    vertical-align: top;
    max-width: 100%;
}
.outer-block {
    height: 100vh;
    position: relative;
}
/* 奥にあるくっきりとした葉 */
.leaves {
    position: absolute;
    width: 22vw;
    max-width: 600px;
}
.leaves01 {
    position: fixed;
    left: 4vw;
    top: 25vh;
}
.leaves02 {
    position: fixed;
    right: 4vw;
    top: 40vh;
}

/* 手前にあるぼかしのかかった葉 */
.leaves-b {
    position: relative;
    width: 22vw;
    max-width: 600px;
    z-index: 2;
}
.leaves-b01 {
    position: fixed;
    left: 0;
    top: 62vh;
} 
.leaves-b02 {
    position: fixed;
    left: 78vw;
    top: 62vh;
}
.leaves-b03 {
    position: fixed;
    width: 25vw;
    left: 0;
    top: 12vh;
}
.leaves-b04 {
    position: fixed;
    left: 78vw;
    top: 12vh;
}

.bg-section {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: center center; 
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}
#bg-section01 {
    background-image: url("/image/luxy-yoko-fuji.jpg");
    top: 30vh;
}
#bg-section02 {
    background-image: url("/image/luxy-yoko-hashiguiiwa.jpg");
    top: 30vh;
}
#bg-section03 {
    background-image: url("/image/luxy-yoko-sado.jpg");
    top: 50vh;
}
#width-section01, #width-section02, #width-section03 {
    position: relative;
    z-index: 3;
    padding: 50vh 0 0;
    background: #fff;
    overflow: hidden;
}


.to_pageTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: #26a9f2;
    opacity: 0.8;
    z-index: 1000;
}
.to_pageTop:hover {
    cursor: pointer;
    border: 1px solid #26a9f2;
    background-color: #fff;
}
.to_pageTop:hover path {
    fill: #26a9f2;
}

@media screen and (max-width: 768px) {
    .top-img img {
        width: 100%;
    }
    .top-text {
        font-size: 2.5rem;
        top: 40%; 
        right: 20%;
        line-height: 50px;
    }
    .intro-text {
        font-size: 16px;
        padding: 10px;
    }
    .section-container {
        position: relative;
    }
    .section-img {
        width: 100%;
        margin-bottom: 10px;
        order: -1; /* .section-imgを.section-contentの上に移動 */
    }
    .section-img img {
        width: 80vw;
    }
    .reverse-order {
        flex-direction: row;
    }
    .reverse-img img {
        position: static;
        transform: none;
    }
    .section-content {
        position: absolute;
        text-align: center;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.5);
        box-sizing: border-box;
    }

    #weather-info {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    #weather-info h4 {
        text-align: center;
        font-size: 1.3rem;
        font-weight: bold;
        width: 100%;
    }
    #weather-info p {
        border: 2px solid;
    }
    .weather-city {
        width: calc(50% - 20px); /* 2列のための幅調整 */
        margin: 10px;
    }
}

@media screen and (max-width: 480px) {
    /* 奥にあるくっきりとした葉 */
    .leaves {
        position: absolute;
        width: 34vw;
        max-width: 600px;
    }
    .leaves01 {
        position: fixed;
        top: 45vh;
        left: 0;
    }
    .leaves02 {
        position: fixed;
        top: 60vh;
        right: 0;
    }

    /* 手前にあるぼかしのかかった葉 */
    .leaves-b {
        position: relative;
        width: 42vw;
        max-width: 600px;
        z-index: 2;
    }
    .leaves-b01 {
        position: fixed;
        left: -10px;
        top: 70vh;
    } 
    .leaves-b02 {
        position: fixed;
        left: 60vw;
        top: 83vh;
    }
    .leaves-b03 {
        position: fixed;
        width: 35vw;
        left: -10px;
        top: 13vh;
    }
    .leaves-b04 {
        position: fixed;
        left: 60vw
    }

    #plan_indexList {
        flex-direction: column;
    }

    .section-img img {
        width: 85vw;
    }
}
