@charset "UTF-8";
/* reset */
h1, h2, ul, li {
    margin: 0;
    padding: 0;
    text-align: left;
    list-style-type: none;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    margin-top: 100px;
}

.info_title {
    font-size: 2rem;
    margin: 0 0 20px 10%;
    font-weight: bold;
}
.info_index {
    font-size: 1.3rem;
    margin-left: 11%;
    font-weight: bold;
}
.info_detail {
    width: 78%;
    font-size: 1.2rem;
    margin: 0 0 20px 13%;
    border-bottom: 3px solid pink;
}
#done_good {
    margin-top: 30px;
}

.plan_container {
    background-color: #fff;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    max-width: 1000px;
}
.plan_content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.edit-button {
    background-color: steelblue;
    font-size: large;
    height: 36px;
    margin-left: 45vw;
}

.edit_plan_container {
    background-color: #fff;
    margin: 20px auto;
    /* padding: 20px; */
    /* border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); */
    max-width: 1000px;
    height: 72.5vh;
}
.edit_plan_content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.plan_content input {
    font-size: 100%;
}
.plan_title input {
    font-size: 25px;
    font-weight: bold;
    flex: 1 1 100%;
    position: relative;
    width: 70%;
}
.plan_spot input {
    width: 40vw;
}
.plan_body textarea {
    font-size: 100%;
    width: 70vw;
}
.buttons {
    margin-left: 55vw;
}
.save-button {
    background-color: steelblue;
    font-size: large;
    height: 36px;
}
.cancel-button {
    background-color: red;
    font-size: large;
    height: 36px;
}


.plan_title {
    font-size: 25px;
    font-weight: bold;
    flex: 1 1 100%;
    position: relative;
}
.official_mark {
    background-color: #ff4500;
    color: #fff;
    padding: 2px 5px;
    position: absolute;
    left: 0;
    top: 45%;
    transform: translateY(-50%);
    font-size: 12px;
    border-radius: 3px;
}
.plan_title.has_official_mark {
    padding-left: 40px;
}
.plan_date, .plan_money, .plan_traffic {
    flex: 1 1 calc(33.33% - 20px);
}
.plan_details {
    display: flex;
    align-items: center;
}
.plan_image img {
    max-width: 100%;
    width: 18vw;
    border-radius: 5px;
}
.plan_spot {
    font-size: 1.2rem;
    margin-left: 40px;
    line-height: 2.5;
}
.plan_body {
    flex: 1 1 100%;
    margin-top: 15px;
}
.plan_image img {
    width: 25vw;
    /* height: 20vh; */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.plan_maker {
    font-weight: bold;
    flex: 1 1 100%;
    text-align: right;
}
.delete-button {
    cursor: pointer;
    background-color: #DC143C;
    border: 1px solid #000000;
    color: #fff;
    font-size: larger;
    text-align: center;
    width: 60px;
    height: 30px;
    margin-left: 72%;
    display: block;
}

/* ページネーション */
.paginate{ text-align: center; }
.pagination{
    font-family: 'Ubuntu', sans-serif;
    display: inline-flex;
    position: relative;
}
.pagination li a{text-decoration: none;}
.pagination li a.page-link{
    line-height: 62px;
    height: 62px;
    width: 70px;
    padding: 0;
    margin: 0 10px;
    border: none;
    border-radius: 50% !important;
    overflow: hidden;
    position: relative;
    color: #fff;
    background-color: #9e506e;
    font-size: 28px;
    font-weight: 600;
    z-index: 1;
    transition: all 0.3s ease 0s;
}
.pagination li a.page-link:hover,
.pagination li a.page-link:focus,
.pagination li.active a.page-link:hover,
.pagination li.active a.page-link{
    color: #222;
    background: transparent;
    box-shadow: 0 0 10px #a26769;
}
.pagination li a.page-link:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    border: 5px solid #a26769;
    border-top-color: transparent;
    border-right-color: transparent;
    border-radius: 50%;
    opacity: 0;
    transform: rotate(155deg);
    transition: all 0.3s ease 0s;
}
.pagination li a.page-link:hover:before,
.pagination li a.page-link:focus:before,
.pagination li.active a.page-link:before{
    opacity: 1;
    transform: rotate(-15deg);
}
@media only screen and (max-width: 480px){
    .pagination{
        font-size: 0;
        border: none;
        display: inline-block;
    }
    .pagination li{
        display: inline-block;
        vertical-align: top;
        margin: 0 0 10px;
    }
}